main{
    width: 60%;
    border: 1px solid lightgrey;
    padding: 40px 0px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.select{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 5px;
}

.select1{
    height: 33px;
    width: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

input{
    display: block;
    height: 30px;
    width: 80%;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.page{
    display: none;
}

header{
    display: flex;
    justify-content: space-between;
}

.page-num{
    border: 1px solid blue;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 10px;
}

.active{
    color: white;
    background-color: blue;
}

/*  css tableau*/
#tab1{
    height: 20vh;
    width: 30vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgrey;
}


#tab2{
    height: 20vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgrey;
}

th{
    border: 1px solid lightgrey;
    color: rgb(101, 101, 101);
}

.tr_eleve,
.tr_parent
{
    border: 1px solid black;
    height: 40px;
    width: 100px;
}











